<div class="vv">
  <h1 class="main_title"><%= t('quest.edit') %></h1>
  <%= render 'form' %>
  <div class="text-center">
    <%= link_to t('quest.show'), @quest %> |
    <%= link_to t('quest.back'), quests_path %>
  </div>
</div>