<h1><%= t('control.message') %></h1>
<div class="vv">
  <div class="message">
  <a class="message_a"><%=  t('quests.too_fast') %></a>
  </div>
</div>
<script type="text/javascript">setTimeout('window.location="<%= url_for :action=>'index' %>";',2500);</script>