<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to KEVA CTF, <%= @user.realname %></h1>
    <p>
      You have successfully signed up to <%= @hostname %>,
      your nickname is: <%= @user.nickname %>.<br/>
      your password is: <%= @user.password %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>