.vv
{
    width: 100%;
    padding-bottom: 30px;
    padding-right: 30px;
    border-radius: 10px;

    background-color: #FFFBDE;
}
.new_news_item
{
    margin-left: 30px;
}
.username_link
{
    text-transform: lowercase;
    color: black;
}
.comment_link
{
    text-transform: lowercase;
    color: black;
    margin-left: 17px;
}
.news_info
{
    width: auto;
    display: inline;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #FFFEF5;
    border: 1px solid #FFBD86;
}
.news_item_time
{
    color: gray;
    font-size: 85%;
}
.news_item_time:hover
{
    color: #FC833B;
    text-decoration: none;
}
.news_align
{
    padding-left: 70px
}

.vv table
{
    padding-top: 10px;
}
input
{
    background-color: white;
    border: 1px solid #FFBD86;
    padding: 2px;
}
input:hover
{
    background-color: white;
    border: 1px solid #FF790A;
    padding: 2px;
}
button
{
    background-color: white;
    border: 1px solid #FFBD86;
    padding: 2px;
}
button:hover
{
    background-color: white;
    border: 1px solid #FF790A;
    padding: 2px;
}
.comment_border
{
    margin-top: 20px;
}
.comment_con_border1
{
    margin-top: 10px;
    margin-left: 30px;
    border: 3px solid #FFBD86;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
.comment_con_border2
{
    margin-left: 1px;
    border: 2px solid #FFBD86;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
.comment_con_border3
{
    margin-left: 1px;
    border: 1px solid #FFBD86;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.comment_con_border1:hover
{
    margin-top: 10px;
    margin-left: 30px;
    border: 3px solid #FF790A;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
.comment_con_border2:hover
{
    margin-left: 1px;
    border: 2px solid #FF790A;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
.comment_con_border3:hover
{
    margin-left: 1px;
    border: 1px solid #FF790A;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.lkn {display: inline;}
.lkn form
{
    display: inline;
}
.lkn form div
{
    display: inline;
}
.lkn form div input
{
    display: inline;
}
textarea
{
    background-color: white;
    border: 1px solid #FFBD86;
    padding: 2px;
}
textarea:hover
{
    background-color: white;
    border: 1px solid #FF790A;
    padding: 2px;
}
#comment_submit_button
{
    margin-top: 10px;
}
#comment_title
{
    width: 400px;
}
#comment_content
{
    width: 400px;
    height: 250px;
}
label
{
    color: #3A3A3A;
    font-size: 90%;
}
.error
{
    color: black;
    text-decoration: none;
    text-transform: none;
}
.error:hover
{
    color: black;
    text-decoration: none;
    text-transform: none;
}

.formcenter
{
    width: 400px;
    margin-right: auto;
    margin-left: auto;

}
.formcenter_auth
{
    width: 200px;
    margin-right: auto;
    margin-left: auto;

}
#login
{
    width: 100%;
}
#password
{
    width: 100%;
}
.formcenter #title
{
    width: 100%;
}
.formcenter #content
{
    width: 100%;
    height: 180px;
}
#news_item_submit_button
{
    margin-top: 10px;
}
.scoreboard_table
{
    width: 100%;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    border-color: #FFBD86;
}
td form
{
    display: inline;
}
td form div
{
    display: inline;
}
td form div input
{
    display: inline;
}
table.quests_table thead tr td
{
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
table.quests_table tbody tr td
{
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
.quest_item
{
    color: black;
    text-decoration: none;
}
.quest_item_disabled
{
    color: gray;
    text-decoration: none;
}
.quest_type_item
{
    color: black;
    text-decoration: none;
}

.quest_admin_field
{
    padding-left: 20px;
}
.quest_admin_field form
{
    display: inline;
}
.quest_admin_field form div
{
    display: inline;
}
.quest_admin_field form div input
{
    display: inline;
}
.quests_table{
    text-align: center;
    width: 760px;
    margin-left: 40px;
    margin-right: 40px;
}
.text-center{
    text-align: center;
}
.price_value
{
    padding-top: 25px;
    font-size: 40px;
}
#quest_content
{
    padding-bottom: 20px;
}
#quest_footer
{
    margin-top: 20px;
    text-align:center;
}
#quest_footer form 
{
    display: inline;
}
#quest_footer form div
{
    display: inline;
}
#quest_footer form div input
{
    display: inline;
}
.message
{
    text-align: center;
    padding-top: 30px;
}
.message_a
{
    color:black;
    text-decoration: none;
    font-size: 30px;
}
.register_form
{
    margin-left: 320px;
}
#user_list
{
    margin-left: 20px;
    margin-right: 20px;
}
#user_list table
{
    width: 800px;
}
.user_info
{
    margin-left:auto;
    margin-right:auto;
    width: 300px;
}
#irc { width: 100%;}
#admin_page form #email { width: 100%;}
#main_page_content { width: 100%;height: 300px}
.main_level3
{
    color: black;
    font-size: 40px;
}
.main_level2
{
    color: black;
    font-size: 30px;
}
.main_level1
{
    color: black;
    font-size: 25px;
}
.main_label3
{
    color: gray;
    font-size: 15px;
}
.main_label2
{
    color: gray;
    font-size: 15px;
}
.main_label1
{
    color: gray;
    font-size: 15px;
}
input#quest_title
{
    width: 295px;
}
input#quest_description
{
    width: 295px;
}
input#quest_syscmd
{
    width: 295px;
}
input#quest_title
{
    width: 295px;
}
input#quest_price
{
    width: 295px;
}
.table_answer
{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}