<h1 class="main_title"><%= t('user.edit') %></h1>
<div class="vv">
  <%= render 'form' %>
  <div class="text-center">
    <%= link_to t('user.show'), @user %> |
    <%= link_to t('user.back'), users_path %>
  </div>
</div>